flows.json
[
    {
        "id": "f81c1a90.dcb148",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d3799607.0144c8",
        "type": "http in",
        "z": "f81c1a90.dcb148",
        "name": "beanstalked",
        "url": "/plate",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "90b9b681.dc83e8",
                "b189be8d.2e15a"
            ]
        ]
    },
    {
        "id": "376d651.2327a9a",
        "type": "http response",
        "z": "f81c1a90.dcb148",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "90b9b681.dc83e8",
        "type": "debug",
        "z": "f81c1a90.dcb148",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "a4323fa1.42c16",
        "type": "file",
        "z": "f81c1a90.dcb148",
        "name": "file out put",
        "filename": "/home/cbw-anpr/Public/result.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 650,
        "y": 300,
        "wires": [
            [
                "376d651.2327a9a"
            ]
        ]
    },
    {
        "id": "4cfc8598.a7a71c",
        "type": "function",
        "z": "f81c1a90.dcb148",
        "name": "alpr extract",
        "func": "msg.payload=msg.payload.results[0].plate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "a4323fa1.42c16"
            ]
        ]
    },
    {
        "id": "52faa3d5.1d39dc",
        "type": "csv",
        "z": "f81c1a90.dcb148",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 610,
        "y": 380,
        "wires": [
            [
                "73122fd3.d2ede"
            ]
        ]
    },
    {
        "id": "73122fd3.d2ede",
        "type": "file",
        "z": "f81c1a90.dcb148",
        "name": "file out put",
        "filename": "/home/cbw-anpr/Public/result.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 830,
        "y": 380,
        "wires": [
            [
                "ecbddaee.d7d5c8"
            ]
        ]
    },
    {
        "id": "ecbddaee.d7d5c8",
        "type": "http response",
        "z": "f81c1a90.dcb148",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 380,
        "wires": []
    },
    {
        "id": "b189be8d.2e15a",
        "type": "function",
        "z": "f81c1a90.dcb148",
        "name": "alpr extract",
        "func": "msg.payload=msg.payload.results[0].plate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "52faa3d5.1d39dc"
            ]
        ]
    },
    {
        "id": "681fe48b.c23bcc",
        "type": "inject",
        "z": "f81c1a90.dcb148",
        "name": "sort results txt ",
        "topic": "results",
        "payload": "cat /home/cbw-anpr/Public/result.txt | uniq > cat /home/cbw-anpr/Public/result.txt ",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "44c308a3.70a678"
            ]
        ]
    },
    {
        "id": "44c308a3.70a678",
        "type": "exec",
        "z": "f81c1a90.dcb148",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "1ddaf7fa.272008"
            ],
            [
                "1ddaf7fa.272008"
            ],
            [
                "1ddaf7fa.272008"
            ]
        ]
    },
    {
        "id": "1ddaf7fa.272008",
        "type": "debug",
        "z": "f81c1a90.dcb148",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 520,
        "wires": []
    },
    {
        "id": "cbb9f137.1d98a",
        "type": "exec",
        "z": "f81c1a90.dcb148",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 620,
        "wires": [
            [
                "c5695225.5a963"
            ],
            [
                "c5695225.5a963"
            ],
            [
                "c5695225.5a963"
            ]
        ]
    },
    {
        "id": "c5695225.5a963",
        "type": "debug",
        "z": "f81c1a90.dcb148",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 620,
        "wires": []
    },
    {
        "id": "9ac2a551.e19348",
        "type": "inject",
        "z": "f81c1a90.dcb148",
        "name": "",
        "topic": "",
        "payload": "cat /home/cbw-anpr/Public/result.txt",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 620,
        "wires": [
            [
                "cbb9f137.1d98a"
            ]
        ]
    }
]