flows.json
[{"id":"337e0bb2.665eb4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f98681f3.4c9fb","type":"debug","z":"337e0bb2.665eb4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":20,"wires":[]},{"id":"1fd0bd31.8a7fb3","type":"http in","z":"337e0bb2.665eb4","name":"","url":"/plate","method":"post","upload":true,"swaggerDoc":"","x":170,"y":100,"wires":[["5f0fadad.f4e764"]]},{"id":"b6db18a1.63d378","type":"http response","z":"337e0bb2.665eb4","name":"","statusCode":"","headers":{},"x":730,"y":100,"wires":[]},{"id":"5f0fadad.f4e764","type":"function","z":"337e0bb2.665eb4","name":"exract","func":"msg.payload=msg.payload.results[0].plate;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["b6db18a1.63d378","f98681f3.4c9fb"]]}]