files/flows.json
[{"id":"e078afd9.01eb3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6dd69daa.d408e4","type":"http in","z":"e078afd9.01eb3","name":"beanstalked","url":"/plate","method":"post","upload":true,"swaggerDoc":"","x":90,"y":160,"wires":[["1dcb657e.c8b48b","95f17d29.48029"]]},{"id":"1dcb657e.c8b48b","type":"debug","z":"e078afd9.01eb3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":60,"wires":[]},{"id":"c2860dd9.621ed","type":"http response","z":"e078afd9.01eb3","name":"","statusCode":"","headers":{},"x":730,"y":160,"wires":[]},{"id":"95f17d29.48029","type":"function","z":"e078afd9.01eb3","name":"alpr extract","func":"msg.payload=msg.payload.results[0].plate;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["c2860dd9.621ed"]]},{"id":"33d00a96.d13536","type":"mongodb2 in","z":"e078afd9.01eb3","service":"_ext_","configNode":"7cfd2708.ae52b8","name":"","collection":"LicencePlate","operation":"findOne","x":550,"y":300,"wires":[["2eacabf0.7c8064"]]},{"id":"e6382b78.598558","type":"inject","z":"e078afd9.01eb3","name":"","topic":"","payload":"{\"name\": \"Holland\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["547cac0e.0b4cc4"]]},{"id":"547cac0e.0b4cc4","type":"json","z":"e078afd9.01eb3","name":"","property":"payload","action":"","pretty":false,"x":310,"y":300,"wires":[["33d00a96.d13536"]]},{"id":"2eacabf0.7c8064","type":"debug","z":"e078afd9.01eb3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":300,"wires":[]},{"id":"7cfd2708.ae52b8","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017","name":"db","options":"","parallelism":"-1"}]