nodered-flows/flows-regchech.json
[{"id":"d0fa7707.140fd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b9eccbed.fb1278","type":"http in","z":"d0fa7707.140fd8","name":"beans","url":"/plate","method":"post","upload":true,"swaggerDoc":"","x":64,"y":60,"wires":[["7b61f825.737ed8"]]},{"id":"7b61f825.737ed8","type":"function","z":"d0fa7707.140fd8","name":"extract","func":"//msg.payload=msg.payload.results[0].plate.flat;\n\nvar plate={};\nplate.registration=msg.payload.results[0].plate;\nmsg.payload=plate;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":60,"wires":[["9fefdb1c.331518"]]},{"id":"c8b4c614.aa7438","type":"debug","z":"d0fa7707.140fd8","name":"msg","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":764,"y":20,"wires":[]},{"id":"511e61c6.44edf","type":"http response","z":"d0fa7707.140fd8","name":"","statusCode":"","headers":{},"x":784,"y":60,"wires":[]},{"id":"431831b6.229d1","type":"mongodb2 in","z":"d0fa7707.140fd8","service":"_ext_","configNode":"ddd3b117.678ae","name":"alprdb","collection":"alprTemplate","operation":"findOne","x":444,"y":60,"wires":[["2254dc4.7044524"]]},{"id":"9fefdb1c.331518","type":"json","z":"d0fa7707.140fd8","name":"","property":"payload","action":"obj","pretty":true,"x":304,"y":60,"wires":[["431831b6.229d1","3e274a85.fcb636"]]},{"id":"2b569bf0.16e794","type":"template","z":"d0fa7707.140fd8","name":"Web ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    inserting: true,\n                    editing: true,\n                    sorting: true,\n                    paging: true,\n\n                    data: db,\n\n                    fields: [\n                        { title:\"Registrations\", name: \"registration\", type: \"text\", width: 50 },\n                       \n                        { type: \"control\" }\n                    ],\n               \n                    controller: {\n                        insertItem: function(item) {\n                            return $.ajax({\n                                type: \"POST\",\n                                url: \"/insert\",\n                                data: item\n                            });\n                        },\n                        updateItem: function(item) {\n                           return $.ajax({\n                                type: \"PUT\",\n                                url: \"/update\",\n                                data: item\n                            });\n                        },\n                        deleteItem: function(item) {\n                            return $.ajax({\n                                type: \"DELETE\",\n                                url: \"/delete\",\n                                data: item\n                            });\n                        }\n                    }   \n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":515,"y":394,"wires":[["a0f8e676.da9fc8"]]},{"id":"b093fc08.a5395","type":"http in","z":"d0fa7707.140fd8","name":"","url":"/db","method":"get","upload":false,"swaggerDoc":"","x":65,"y":394,"wires":[["a7b92090.6de2"]]},{"id":"a0f8e676.da9fc8","type":"http response","z":"d0fa7707.140fd8","name":"","x":675,"y":394,"wires":[]},{"id":"4f4b7cbe.f19234","type":"json","z":"d0fa7707.140fd8","name":"","property":"payload","action":"","pretty":false,"x":375,"y":394,"wires":[["2b569bf0.16e794"]]},{"id":"a7b92090.6de2","type":"mongodb2 in","z":"d0fa7707.140fd8","service":"_ext_","configNode":"d4f42577.abb5b8","name":"out","collection":"alprTemplate","operation":"find.toArray","x":235,"y":394,"wires":[["4f4b7cbe.f19234"]]},{"id":"acab7089.06067","type":"http in","z":"d0fa7707.140fd8","name":"","url":"/insert","method":"post","upload":false,"swaggerDoc":"","x":76,"y":442,"wires":[["5cdb99b3.c52e78"]]},{"id":"38240067.3487b","type":"function","z":"d0fa7707.140fd8","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":386,"y":442,"wires":[["bd6ede54.065b"]]},{"id":"bd6ede54.065b","type":"http response","z":"d0fa7707.140fd8","name":"","x":571,"y":441,"wires":[]},{"id":"5cdb99b3.c52e78","type":"mongodb2 in","z":"d0fa7707.140fd8","service":"_ext_","configNode":"d4f42577.abb5b8","name":"save","collection":"alprTemplate","operation":"save","x":226,"y":442,"wires":[["38240067.3487b"]]},{"id":"b9bfaeb0.5b738","type":"http in","z":"d0fa7707.140fd8","name":"","url":"/delete","method":"delete","swaggerDoc":"","x":85,"y":495,"wires":[["667b0b06.d82224"]]},{"id":"667b0b06.d82224","type":"function","z":"d0fa7707.140fd8","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":495,"wires":[["65bff41c.7fc2fc"]]},{"id":"7148ef5d.a7013","type":"http response","z":"d0fa7707.140fd8","name":"","x":695,"y":495,"wires":[]},{"id":"1905ee1d.52fd92","type":"mongodb2 in","z":"d0fa7707.140fd8","service":"_ext_","configNode":"d4f42577.abb5b8","name":"delete","collection":"alprTemplate","operation":"deleteOne","x":535,"y":495,"wires":[["7148ef5d.a7013"]]},{"id":"65bff41c.7fc2fc","type":"objectid","z":"d0fa7707.140fd8","name":"","selectedProperty":"_id","x":405,"y":495,"wires":[["1905ee1d.52fd92"]]},{"id":"3e274a85.fcb636","type":"file","z":"d0fa7707.140fd8","name":"alpr-out","filename":"/home/debo/repos/anpr/public/alprresult.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":554,"y":20,"wires":[["c8b4c614.aa7438"]]},{"id":"2908ee70.7149f2","type":"http in","z":"d0fa7707.140fd8","name":"","url":"/alpr","method":"get","upload":false,"swaggerDoc":"","x":70,"y":356,"wires":[["fdf5cb93.c14ce8"]]},{"id":"fdf5cb93.c14ce8","type":"file in","z":"d0fa7707.140fd8","name":"alpr","filename":"/home/debo/repos/anpr/public/alprresult.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":216,"y":356,"wires":[["71a294f1.20568c"]]},{"id":"71a294f1.20568c","type":"change","z":"d0fa7707.140fd8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":374,"y":355,"wires":[["4588e43a.ffdcec"]]},{"id":"4588e43a.ffdcec","type":"http response","z":"d0fa7707.140fd8","name":"","statusCode":"","headers":{},"x":800,"y":356,"wires":[]},{"id":"2254dc4.7044524","type":"json","z":"d0fa7707.140fd8","name":"","property":"payload","action":"obj","pretty":true,"x":564,"y":60,"wires":[["3e274a85.fcb636","511e61c6.44edf"]]},{"id":"e3456d6a.80c79","type":"file in","z":"d0fa7707.140fd8","name":"alpr-csv","filename":"/home/debo/repos/anpr/public/alprresult.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":419,"y":300,"wires":[["824bafc1.15d2e"]]},{"id":"219c597e.db3596","type":"mongodb2 in","z":"d0fa7707.140fd8","service":"_ext_","configNode":"ddd3b117.678ae","name":"alprdb","collection":"alpr","operation":"save","x":749,"y":300,"wires":[[]]},{"id":"824bafc1.15d2e","type":"csv","z":"d0fa7707.140fd8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":589,"y":300,"wires":[["219c597e.db3596"]]},{"id":"b753ee84.46cfa","type":"inject","z":"d0fa7707.140fd8","name":"csv","topic":"","payload":"cat ~/repos/anpr/public/alprresult.json | sed \"s/null/{\\\"\"\\registration\\\":\"\\\"Absent\\\"}/g\"  | jq -r '.' | tr -d '{}, ,\"' | sed s/_id/User/g | sed s/:/,/g > ~/repos/anpr/public/alprresult.csv","payloadType":"str","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":300,"wires":[["4d66d4a7.f898cc"]]},{"id":"4d66d4a7.f898cc","type":"exec","z":"d0fa7707.140fd8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":249,"y":300,"wires":[["e3456d6a.80c79"],[],[]]},{"id":"6ac624a1.f80ccc","type":"http in","z":"d0fa7707.140fd8","name":"","url":"/plates","method":"get","upload":false,"swaggerDoc":"","x":70,"y":240,"wires":[["48874cf.8b467b4"]]},{"id":"48874cf.8b467b4","type":"mongodb2 in","z":"d0fa7707.140fd8","service":"_ext_","configNode":"d4f42577.abb5b8","name":"alprCheck","collection":"alpr","operation":"find.toArray","x":240,"y":240,"wires":[["bb44f5aa.59e0c8"]]},{"id":"bb44f5aa.59e0c8","type":"json","z":"d0fa7707.140fd8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":240,"wires":[["f9d09e8c.3eafa"]]},{"id":"f9d09e8c.3eafa","type":"template","z":"d0fa7707.140fd8","name":"Web ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    inserting: true,\n                    editing: true,\n                    sorting: true,\n                    paging: true,\n\n                    data: db,\n\n                    fields: [\n                        { title:\"id\", name: \"_id\", type: \"text\", width: 50 },\n                        \n                        \n                        { title:\"presence\", name: \"col1\", type: \"text\", width: 50 },\n                        \n                        { title:\"reg/db_id\", name: \"col2\", type: \"text\", width: 50 },\n\n\n\n                       \n\n\n                        { type: \"control\" }\n                    ],\n               \n                    controller: {\n                        insertItem: function(item) {\n                            return $.ajax({\n                                type: \"POST\",\n                                url: \"/insert\",\n                                data: item\n                            });\n                        },\n                        updateItem: function(item) {\n                           return $.ajax({\n                                type: \"PUT\",\n                                url: \"/update\",\n                                data: item\n                            });\n                        },\n                        deleteItem: function(item) {\n                            return $.ajax({\n                                type: \"DELETE\",\n                                url: \"/delete\",\n                                data: item\n                            });\n                        }\n                    }   \n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":510,"y":240,"wires":[["ad061fdf.77a4f"]]},{"id":"ad061fdf.77a4f","type":"http response","z":"d0fa7707.140fd8","name":"","x":730,"y":240,"wires":[]},{"id":"ddd3b117.678ae","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/alpr","name":"alpr","options":"","parallelism":"-1"},{"id":"d4f42577.abb5b8","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/alpr","name":"alpr","options":"","parallelism":"-1"}]