nodered-flows/flows.json
[{"id":"d0fa7707.140fd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7b61f825.737ed8","type":"function","z":"d0fa7707.140fd8","name":"extract","func":"//msg.payload=msg.payload.results[0].plate.flat;\n\nvar plate={};\nplate.registration=msg.payload.results[0].plate;\nmsg.payload=plate;\nreturn msg;","outputs":1,"noerr":0,"x":55,"y":139,"wires":[["9fefdb1c.331518"]]},{"id":"c8b4c614.aa7438","type":"debug","z":"d0fa7707.140fd8","name":"msg","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":80,"wires":[]},{"id":"511e61c6.44edf","type":"http response","z":"d0fa7707.140fd8","name":"","statusCode":"","headers":{},"x":729,"y":142,"wires":[]},{"id":"431831b6.229d1","type":"mongodb2 in","z":"d0fa7707.140fd8","service":"_ext_","configNode":"ddd3b117.678ae","name":"alprdb","collection":"alprTemplate","operation":"findOne","x":395,"y":139,"wires":[["2254dc4.7044524"]]},{"id":"9fefdb1c.331518","type":"json","z":"d0fa7707.140fd8","name":"","property":"payload","action":"obj","pretty":true,"x":215,"y":139,"wires":[["431831b6.229d1","3e274a85.fcb636"]]},{"id":"2b569bf0.16e794","type":"template","z":"d0fa7707.140fd8","name":"Web ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    inserting: true,\n                    editing: true,\n                    sorting: true,\n                    paging: true,\n\n                    data: db,\n\n                    fields: [\n                        { title:\"Registrations\", name: \"registration\", type: \"text\", width: 50 },\n                       \n                        { type: \"control\" }\n                    ],\n               \n                    controller: {\n                        insertItem: function(item) {\n                            return $.ajax({\n                                type: \"POST\",\n                                url: \"/insert\",\n                                data: item\n                            });\n                        },\n                        updateItem: function(item) {\n                           return $.ajax({\n                                type: \"PUT\",\n                                url: \"/update\",\n                                data: item\n                            });\n                        },\n                        deleteItem: function(item) {\n                            return $.ajax({\n                                type: \"DELETE\",\n                                url: \"/delete\",\n                                data: item\n                            });\n                        }\n                    }   \n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":530,"y":360,"wires":[["a0f8e676.da9fc8"]]},{"id":"b093fc08.a5395","type":"http in","z":"d0fa7707.140fd8","name":"","url":"/plates","method":"get","upload":false,"swaggerDoc":"","x":75,"y":362,"wires":[["a7b92090.6de2"]]},{"id":"a0f8e676.da9fc8","type":"http response","z":"d0fa7707.140fd8","name":"","x":730,"y":360,"wires":[]},{"id":"4f4b7cbe.f19234","type":"json","z":"d0fa7707.140fd8","name":"","property":"payload","action":"","pretty":false,"x":375,"y":362,"wires":[["2b569bf0.16e794"]]},{"id":"a7b92090.6de2","type":"mongodb2 in","z":"d0fa7707.140fd8","service":"_ext_","configNode":"d4f42577.abb5b8","name":"out","collection":"alprTemplate","operation":"find.toArray","x":235,"y":362,"wires":[["4f4b7cbe.f19234"]]},{"id":"acab7089.06067","type":"http in","z":"d0fa7707.140fd8","name":"","url":"/insert","method":"post","upload":false,"swaggerDoc":"","x":76,"y":442,"wires":[["5cdb99b3.c52e78"]]},{"id":"38240067.3487b","type":"function","z":"d0fa7707.140fd8","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":386,"y":442,"wires":[["bd6ede54.065b"]]},{"id":"bd6ede54.065b","type":"http response","z":"d0fa7707.140fd8","name":"","x":571,"y":441,"wires":[]},{"id":"5cdb99b3.c52e78","type":"mongodb2 in","z":"d0fa7707.140fd8","service":"_ext_","configNode":"d4f42577.abb5b8","name":"save","collection":"alprTemplate","operation":"save","x":226,"y":442,"wires":[["38240067.3487b"]]},{"id":"b9bfaeb0.5b738","type":"http in","z":"d0fa7707.140fd8","name":"","url":"/delete","method":"delete","swaggerDoc":"","x":85,"y":495,"wires":[["667b0b06.d82224"]]},{"id":"667b0b06.d82224","type":"function","z":"d0fa7707.140fd8","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":495,"wires":[["65bff41c.7fc2fc"]]},{"id":"7148ef5d.a7013","type":"http response","z":"d0fa7707.140fd8","name":"","x":695,"y":495,"wires":[]},{"id":"1905ee1d.52fd92","type":"mongodb2 in","z":"d0fa7707.140fd8","service":"_ext_","configNode":"d4f42577.abb5b8","name":"delete","collection":"alprTemplate","operation":"deleteOne","x":535,"y":495,"wires":[["7148ef5d.a7013"]]},{"id":"65bff41c.7fc2fc","type":"objectid","z":"d0fa7707.140fd8","name":"","selectedProperty":"_id","x":405,"y":495,"wires":[["1905ee1d.52fd92"]]},{"id":"3e274a85.fcb636","type":"file","z":"d0fa7707.140fd8","name":"alpr-out","filename":"/home/debo/repos/anpr/public/alprresult.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":445,"y":179,"wires":[[]]},{"id":"2254dc4.7044524","type":"json","z":"d0fa7707.140fd8","name":"","property":"payload","action":"obj","pretty":true,"x":509,"y":142,"wires":[["511e61c6.44edf","3e274a85.fcb636"]]},{"id":"e3456d6a.80c79","type":"file in","z":"d0fa7707.140fd8","name":"alpr-csv","filename":"/home/debo/repos/anpr/public/result.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":300,"wires":[["824bafc1.15d2e"]]},{"id":"219c597e.db3596","type":"mongodb2 in","z":"d0fa7707.140fd8","service":"_ext_","configNode":"ddd3b117.678ae","name":"alprdb","collection":"alprCheck","operation":"save","x":710,"y":300,"wires":[[]]},{"id":"824bafc1.15d2e","type":"csv","z":"d0fa7707.140fd8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":530,"y":300,"wires":[["219c597e.db3596"]]},{"id":"b753ee84.46cfa","type":"inject","z":"d0fa7707.140fd8","name":"csv","topic":"","payload":"cat /home/debo/repos/anpr/public/alprresult.json | sed \"s/null/{\\\"\\     Absent\\\"\\},/g\" | sed 'N;s/\\n/\\t/' | tr -d '{}:\"' | sed 's/,/  /' | awk {'print $1, $2'} | sed 's/registration//' | sed 's/_id/      ,db_ID/' | sed 's/Absent/         ,Absent/'  | awk 'gsub(\" \",\"\")' | sed '1 i\\Reg, Data base Id'","payloadType":"str","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":300,"wires":[["4d66d4a7.f898cc"]]},{"id":"4d66d4a7.f898cc","type":"exec","z":"d0fa7707.140fd8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":210,"y":300,"wires":[["e3456d6a.80c79"],[],[]]},{"id":"89d76907.261298","type":"http in","z":"d0fa7707.140fd8","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":60,"y":240,"wires":[["1dc9bfac.17dc7"]]},{"id":"1dc9bfac.17dc7","type":"file in","z":"d0fa7707.140fd8","name":"alpr","filename":"/home/debo/repos/anpr/public/result.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":210,"y":240,"wires":[["8670e425.568018"]]},{"id":"8670e425.568018","type":"change","z":"d0fa7707.140fd8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":240,"wires":[["73fd7dd1.14d9c4"]]},{"id":"73fd7dd1.14d9c4","type":"http response","z":"d0fa7707.140fd8","name":"","statusCode":"","headers":{},"x":710,"y":240,"wires":[]},{"id":"b1496b59.f8abe8","type":"http in","z":"d0fa7707.140fd8","name":"alprd-save","url":"/plate","method":"post","upload":true,"swaggerDoc":"","x":80,"y":20,"wires":[[]]},{"id":"7c0b1dd9.631434","type":"http response","z":"d0fa7707.140fd8","name":"","statusCode":"","headers":{},"x":790,"y":20,"wires":[]},{"id":"4b4da250.a77adc","type":"function","z":"d0fa7707.140fd8","name":"alprd-save","func":"//msg.payload=msg.payload.results[0].plate.flat;\n\nvar plate={};\nplate.registration=msg.payload.results[0].plate;\nmsg.payload=plate;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":20,"wires":[["f0cc669b.a71938"]]},{"id":"f0cc669b.a71938","type":"json","z":"d0fa7707.140fd8","name":"alprd-save","property":"payload","action":"obj","pretty":true,"x":410,"y":20,"wires":[["1f146f11.cbc7e1","c8b4c614.aa7438"]]},{"id":"1f146f11.cbc7e1","type":"mongodb2 in","z":"d0fa7707.140fd8","service":"_ext_","configNode":"ddd3b117.678ae","name":"alprd-save","collection":"alprTemplate","operation":"save","x":630,"y":20,"wires":[["7c0b1dd9.631434"]]},{"id":"ddd3b117.678ae","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/alpr","name":"alpr","options":"","parallelism":"-1"},{"id":"d4f42577.abb5b8","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/alpr","name":"alpr","options":"","parallelism":"-1"}]