nodered-flows/flows-1.json
[{"id":"fa119135.effa8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d755820e.876ca","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/alprDB","name":"alpr","options":"","parallelism":"-1"},{"id":"e33a3efc.60a78","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/alprDB","name":"alpr","options":"","parallelism":"-1"},{"id":"21756a87.5995f6","type":"mongodb3","z":"","uri":"","name":"","options":"","parallelism":"-1"},{"id":"a0feaa30.c8fdf8","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/alpr","name":"alpr","options":"","parallelism":"-1"},{"id":"a3d14601.6a0c68","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/alprDB","name":"alprDB","options":"","parallelism":"-1"},{"id":"92eeadae.9209f","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/alpr","name":"alpr","options":"","parallelism":"-1"},{"id":"e3761717.2ec988","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/alpr","name":"alpr","options":"","parallelism":"-1"},{"id":"2f8d0430.08826c","type":"mongodb2","name":""},{"id":"752bb943.9780e8","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/alpr","name":"alpr","options":"","parallelism":"-1"},{"id":"49ae09aa.9f5888","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/alpr","name":"alpr","options":"","parallelism":"-1"},{"id":"537bb046.72e86","type":"http in","z":"fa119135.effa8","name":"plates","url":"/plate","method":"post","upload":true,"swaggerDoc":"","x":170,"y":480,"wires":[["e54e74aa.a1c958","5f7aad95.741594"]]},{"id":"e54e74aa.a1c958","type":"function","z":"fa119135.effa8","name":"extract","func":"//msg.payload=msg.payload.results[0].plate.flat;\n\nvar plate={};\nplate.registration=msg.payload.results[0].plate;\nmsg.payload=plate;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":600,"wires":[["24a299ec.556486"]]},{"id":"5f7aad95.741594","type":"http response","z":"fa119135.effa8","name":"plates-out","statusCode":"","headers":{},"x":640,"y":480,"wires":[]},{"id":"24a299ec.556486","type":"json","z":"fa119135.effa8","name":"extractjs","property":"payload","action":"obj","pretty":true,"x":360,"y":600,"wires":[["820c2067.a5511"]]},{"id":"2dd8c02b.77794","type":"http in","z":"fa119135.effa8","name":"","url":"/json","method":"get","upload":false,"swaggerDoc":"","x":60,"y":120,"wires":[["d14f0c91.f3229"]]},{"id":"d14f0c91.f3229","type":"file in","z":"fa119135.effa8","name":"alpr","filename":"/home/anpr/repos/anpr/public/alprresult.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":230,"y":120,"wires":[["20eff3b9.cf92fc"]]},{"id":"20eff3b9.cf92fc","type":"change","z":"fa119135.effa8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":120,"wires":[["cd203c79.3456d"]]},{"id":"cd203c79.3456d","type":"http response","z":"fa119135.effa8","name":"","statusCode":"","headers":{},"x":710,"y":120,"wires":[]},{"id":"f7dd6784.455b48","type":"http in","z":"fa119135.effa8","name":"","url":"/snbdb","method":"get","upload":false,"swaggerDoc":"","x":70,"y":60,"wires":[["7c30264c.384ab8"]]},{"id":"7c30264c.384ab8","type":"mongodb2 in","z":"fa119135.effa8","service":"_ext_","configNode":"a3d14601.6a0c68","name":"out","collection":"snbpermits","operation":"find.toArray","x":263.00004959106445,"y":60.99999523162842,"wires":[["a84de847.998ad8"]]},{"id":"a84de847.998ad8","type":"json","z":"fa119135.effa8","name":"","property":"payload","action":"","pretty":false,"x":403.00004959106445,"y":60.99999523162842,"wires":[["38ee13ae.d17bdc"]]},{"id":"3765f009.5c0b4","type":"http response","z":"fa119135.effa8","name":"","x":845,"y":61.98443603515625,"wires":[]},{"id":"38ee13ae.d17bdc","type":"template","z":"fa119135.effa8","name":"Web ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    inserting: true,\n                    editing: true,\n                    sorting: true,\n                    paging: true,\n\n                    data: db,\n\n                    fields: [\n                    { title:\"Company\", name: \"Company\", type: \"number\", width: 50 },\n        \n                    { title:\"No\", name: \"No\", type: \"text\", width: 50 },\n\n                    { title:\"registration1\", name: \"registration1\", type: \"text\", width: 50 },\n        \n                    { title:\"registration2\", name: \"registration2\", type: \"text\", width: 50 },\n\n                    { title:\"registration3\", name: \"registration3\", type: \"text\", width: 50 },\n\n                       \n                     { type: \"control\" }\n                    ],\n               \n                    controller: {\n                        insertItem: function(item) {\n                            return $.ajax({\n                                type: \"POST\",\n                                url: \"/insert\",\n                                data: item\n                            });\n                        },\n                        updateItem: function(item) {\n                           return $.ajax({\n                                type: \"PUT\",\n                                url: \"/update\",\n                                data: item\n                            });\n                        },\n                        deleteItem: function(item) {\n                            return $.ajax({\n                                type: \"DELETE\",\n                                url: \"/delete\",\n                                data: item\n                            });\n                        }\n                    }   \n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":645,"y":61.98443603515625,"wires":[["3765f009.5c0b4"]]},{"id":"820c2067.a5511","type":"mongodb2 in","z":"fa119135.effa8","service":"_ext_","configNode":"a3d14601.6a0c68","name":"dbout","collection":"regcheck","operation":"findOne","x":530,"y":600,"wires":[["b1bc14b9.ca8698","6010fbb6.815ca4"]]},{"id":"b1bc14b9.ca8698","type":"file","z":"fa119135.effa8","name":"alpr-out","filename":"/home/anpr/repos/anpr/public/alprresult.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1020,"y":700,"wires":[[]]},{"id":"bf94f1a2.7d01b","type":"inject","z":"fa119135.effa8","name":"csv","topic":"","payload":"cat ~/repos/anpr/public/alprresult.json | tr -d '{}, ,\"' | sed   '/_id/c\\,present' | sed s/:/,/g | sed '/^[[:space:]]*$/d' | sed  s/null/,absent/g > ~/repos/anpr/public/regcheck.csv","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["d7d57360.aefd7"]]},{"id":"d7d57360.aefd7","type":"exec","z":"fa119135.effa8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":240,"wires":[["d5824f7b.b271"],[],[]]},{"id":"d5824f7b.b271","type":"file in","z":"fa119135.effa8","name":"alpr-csv","filename":"/home/anpr/repos/anpr/public/regcheck.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":600,"y":228,"wires":[["a6ace54a.5103a8"]]},{"id":"a6ace54a.5103a8","type":"csv","z":"fa119135.effa8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"registration,presence","skip":"0","strings":true,"x":850,"y":227,"wires":[[]]},{"id":"6010fbb6.815ca4","type":"debug","z":"fa119135.effa8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":600,"wires":[]},{"id":"adfccb5f.4217f8","type":"http in","z":"fa119135.effa8","name":"","url":"/csv","method":"get","upload":false,"swaggerDoc":"","x":65,"y":168,"wires":[["39b1a7af.0cfd78"]]},{"id":"39b1a7af.0cfd78","type":"file in","z":"fa119135.effa8","name":"alpr","filename":"/home/anpr/repos/anpr/public/alprresult.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":215,"y":168,"wires":[["7114f9cb.42a928"]]},{"id":"7114f9cb.42a928","type":"change","z":"fa119135.effa8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":168,"wires":[["c3352717.5d8548"]]},{"id":"c3352717.5d8548","type":"http response","z":"fa119135.effa8","name":"","statusCode":"","headers":{},"x":715,"y":168,"wires":[]},{"id":"7cbb216a.b74cb","type":"http in","z":"fa119135.effa8","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":150,"y":320,"wires":[["4b805c01.bce014"]]},{"id":"4b805c01.bce014","type":"http response","z":"fa119135.effa8","name":"","statusCode":"","headers":{},"x":770,"y":320,"wires":[]},{"id":"544b3c37.f94f54","type":"template","z":"fa119135.effa8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h2>{{msg.topic}}</h2>\n<div>{{msg.payload}}</div>","output":"str","x":180,"y":380,"wires":[["e0583c25.9eb57"]]},{"id":"e0583c25.9eb57","type":"change","z":"fa119135.effa8","name":"Set Headers","rules":[{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":380,"wires":[["4b805c01.bce014"]]}]