nodered-flows/flows.json
[{"id":"5097e207.6b37dc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b72e2e41.b38e3","type":"http in","z":"5097e207.6b37dc","name":"beanstalked","url":"/plate","method":"post","upload":true,"swaggerDoc":"","x":70,"y":100,"wires":[["1063a8bb.41df87"]]},{"id":"4b3141f5.7e81b","type":"http response","z":"5097e207.6b37dc","name":"","statusCode":"","headers":{},"x":790,"y":100,"wires":[]},{"id":"1063a8bb.41df87","type":"function","z":"5097e207.6b37dc","name":"extract","func":"//msg.payload=msg.payload.results[0].plate.flat;\n\nvar plate={};\nplate.registration=msg.payload.results[0].plate;\nmsg.payload=plate;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":100,"wires":[["4e153c0.b5740c4"]]},{"id":"d1ff4eff.33669","type":"debug","z":"5097e207.6b37dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":20,"wires":[]},{"id":"eb3d36e1.61d4a8","type":"mongodb2 in","z":"5097e207.6b37dc","service":"_ext_","configNode":"63506c25.dda574","name":"find","collection":"AlprResults","operation":"findOne","x":490,"y":100,"wires":[["d1ff4eff.33669","f43d48be.ae2808"]]},{"id":"4e153c0.b5740c4","type":"json","z":"5097e207.6b37dc","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":100,"wires":[["eb3d36e1.61d4a8"]]},{"id":"f43d48be.ae2808","type":"file","z":"5097e207.6b37dc","name":"night-reg","filename":"/home/debo/repos/anpr/public/result.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":640,"y":100,"wires":[["4b3141f5.7e81b"]]},{"id":"379c4433.2c15cc","type":"template","z":"5097e207.6b37dc","name":"Web Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    inserting: true,\n                    editing: true,\n                    sorting: true,\n                    paging: true,\n\n                    data: db,\n\n                    fields: [\n                        { title:\"Registrations\", name: \"registration\", type: \"text\", width: 50 },\n                       \n                        { type: \"control\" }\n                    ],\n               \n                    controller: {\n                        insertItem: function(item) {\n                            return $.ajax({\n                                type: \"POST\",\n                                url: \"/insert\",\n                                data: item\n                            });\n                        },\n                        updateItem: function(item) {\n                           return $.ajax({\n                                type: \"PUT\",\n                                url: \"/update\",\n                                data: item\n                            });\n                        },\n                        deleteItem: function(item) {\n                            return $.ajax({\n                                type: \"DELETE\",\n                                url: \"/delete\",\n                                data: item\n                            });\n                        }\n                    }   \n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":480,"y":160,"wires":[["61478ecf.880c1"]]},{"id":"31af6039.f3078","type":"http in","z":"5097e207.6b37dc","name":"","url":"/plates","method":"get","upload":false,"swaggerDoc":"","x":70,"y":160,"wires":[["2b9db201.b61a3e"]]},{"id":"61478ecf.880c1","type":"http response","z":"5097e207.6b37dc","name":"","x":630,"y":160,"wires":[]},{"id":"be78fe00.66a0a","type":"json","z":"5097e207.6b37dc","name":"","property":"payload","action":"","pretty":false,"x":330,"y":160,"wires":[["379c4433.2c15cc"]]},{"id":"2b9db201.b61a3e","type":"mongodb2 in","z":"5097e207.6b37dc","service":"_ext_","configNode":"63506c25.dda574","name":"find","collection":"AlprResults","operation":"find.toArray","x":210,"y":160,"wires":[["be78fe00.66a0a"]]},{"id":"63506c25.dda574","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/alpr","name":"alpr","options":"","parallelism":"-1"}]